<!-- PROJECTS -->
<div class="projects-container" id="projects">
  <div class="header">
    <h2 class="projects-header">Main Projects</h2>
    <hr class="hr-projects" />
  </div>

  <!-- Project Card 1 -->
  <div class="project-card">
    <div class="project-content">
      <div class="project-details">
        <h3 class="project-subtitle">Featured Project</h3>
        <h2 class="project-title">TheKnife</h2>
        <p class="project-description">
          TheKnife aims to rival TheFork by offering users the ability to make
          restaurant reservations and allowing restaurant managers to register
          and manage their restaurants.
        </p>
        <div class="tech-stack">
          <button class="tech-btn">Angular</button>
          <button class="tech-btn">JS</button>
          <button class="tech-btn">Jest</button>
          <button class="tech-btn">Knex</button>
          <button class="tech-btn">Docker</button>
          <button class="tech-btn">PostgreSQL</button>
        </div>
        <a
          href="https://github.com/ruib07/TheKnife"
          target="_blank"
          class="source-link"
          >View Source</a
        >
      </div>
      <div class="project-image">
        <video class="project-video" controls>
          <source
            src="../../assets/projects-imgs/TheKnifeVideo.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>

  <!-- Project Card 2 -->
  <div class="project-card">
    <div class="project-content">
      <div class="project-details">
        <h3 class="project-subtitle">Featured Project</h3>
        <h2 class="project-title">WeatherApp</h2>
        <p class="project-description">
          Explore global weather conditions effortlessly. Get real-time updates
          on temperature, climate, and hourly forecasts for any city worldwide.
        </p>
        <div class="tech-stack">
          <button class="tech-btn">HTML</button>
          <button class="tech-btn">CSS</button>
          <button class="tech-btn">JavaScript</button>
          <button class="tech-btn">Public API</button>
        </div>
        <a
          href="https://github.com/ruib07/WeatherApp"
          target="_blank"
          class="source-link"
          >View Source</a
        >
      </div>
      <div class="project-image">
        <img
          src="../../assets/projects-imgs/WeatherApp.webp"
          alt="WeatherApp Project"
        />
      </div>
    </div>
  </div>

  <!-- Project Card 3 -->
  <div class="project-card">
    <div class="project-content">
      <div class="project-details">
        <h3 class="project-subtitle">Featured Project</h3>
        <h2 class="project-title">ProEventos</h2>
        <p class="project-description">
          This website is an event website where the user can make a reservation
          to an event, cancel is reservation, update his reservation, make a
          login, register and update the personal data. The website is
          responsive and have a user-friendly design with the minimalistic
          colors and fonts.
        </p>
        <div class="tech-stack">
          <button class="tech-btn">Angular</button>
          <button class="tech-btn">C#</button>
          <button class="tech-btn">.NET Web API</button>
          <button class="tech-btn">EF Core</button>
          <button class="tech-btn">SQL Server</button>
        </div>
        <a
          href="https://github.com/ruib07/ProEventos"
          target="_blank"
          class="source-link"
          >View Source</a
        >
      </div>
      <div class="project-image">
        <img
          src="../../assets/projects-imgs/event.jpg"
          alt="WeatherApp Project"
        />
      </div>
    </div>
  </div>

  <!-- Project Card 4 -->
  <div class="project-card">
    <div class="project-content">
      <div class="project-details">
        <h3 class="project-subtitle">Featured Project</h3>
        <h2 class="project-title">LanchesMac</h2>
        <p class="project-description">
          This website is an burguer store where the user can buy burguers. The
          website contains and home page with filters, categories, and a
          carrousel slide, a product page with all the burguers, a shop cart,
          checkout, login, register, admin area and the website is responsive.
        </p>
        <div class="tech-stack">
          <button class="tech-btn">C#</button>
          <button class="tech-btn">MVC</button>
          <button class="tech-btn">HTML</button>
          <button class="tech-btn">Bootstrap</button>
          <button class="tech-btn">EF Core</button>
          <button class="tech-btn">SQL Server</button>
        </div>
        <a
          href="https://github.com/ruib07/LanchesMac"
          target="_blank"
          class="source-link"
          >View Source</a
        >
      </div>
      <div class="project-image">
        <img
          src="../../assets/projects-imgs/burguer-store.webp"
          alt="WeatherApp Project"
        />
      </div>
    </div>
  </div>

  <!-- Project Card 5 -->
  <div class="project-card">
    <div class="project-content">
      <div class="project-details">
        <h3 class="project-subtitle">Featured Project</h3>
        <h2 class="project-title">TaskShare App</h2>
        <p class="project-description">
          This mobile app is a task organizer to the user make a list of tasks
          for the day. You can make a login, register, add a task, update a task
          and delete a task. The app is minimalistic and have a clean design.
        </p>
        <div class="tech-stack">
          <button class="tech-btn">React Native</button>
          <button class="tech-btn">C#</button>
          <button class="tech-btn">.NET Web API</button>
          <button class="tech-btn">EF Core</button>
          <button class="tech-btn">SQL Server</button>
        </div>
        <a
          href="https://github.com/ruib07/TaskShareFrontend"
          target="_blank"
          class="source-link"
          >View Frontend Source</a
        >
        |
        <a
          href="https://github.com/ruib07/TaskShareBackend"
          target="_blank"
          class="source-link"
          >View Backend Source</a
        >
      </div>
      <div class="project-image">
        <img
          src="../../assets/projects-imgs/Tasks-img.webp"
          alt="WeatherApp Project"
        />
      </div>
    </div>
  </div>
</div>

<!-- END OF PROJECTS -->
