.projects-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  background-color: #0d0d2b;
}

.header {
  text-align: center;
}

.projects-header {
  font-size: 2.5rem;
  color: #fff;
}

.hr-projects {
  width: 100px;
  border: 2px solid #9370db;
  margin: 0.5rem auto;
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 1.5rem;
  background: linear-gradient(145deg, rgba(147, 112, 219, 0.3), rgba(147, 112, 219, 0.1));
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.project-details {
  max-width: 45%;
}

.project-subtitle {
  color: #e0c3fc;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-title {
  font-size: 2.5rem;
  color: #fff;
}

.project-description {
  font-size: 1.1rem;
  color: #ddd;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-btn {
  background: none;
  border: 1px solid #9370db;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tech-btn:hover {
  background-color: #9370db;
}

.source-link {
  display: inline-block;
  margin-top: 1.5rem;
  color: #9370db;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.source-link:hover {
  border-color: #9370db;
}

.project-image {
  position: relative;
  width: 50%;
  transform: rotate(-2deg);
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.project-image img,
.project-image video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .project-card {
    flex-direction: column;
    text-align: center;
  }

  .project-content {
    flex-direction: column;
    gap: 1rem;
  }

  .project-details,
  .project-image {
    max-width: 100%;
  }

  .project-image {
    transform: none;
  }
}