<!-- PROJECTS -->
<div class="projects-container" id="projects">
  <div class="header">
    <h2 class="projects-header">Main Projects</h2><hr class="hr-projects">
  </div>
  <div class="card">
    <img src="../../assets/projects-imgs/event.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">ProEventos</h5>
      <p class="card-text">This website is an event website where the user can make a reservation to an event, cancel is reservation,
      update his reservation, make a login, register<br> and update the personal data. The website is responsive and have a user-friendly design
      with the minimalistic colors and fonts.</p>
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">Angular</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">HTML</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SCSS</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">TS</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">.NET Web API</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
      <a href="https://github.com/ruib07/ProEventos" class="btn btn-light" target="_blank">
        <img src="../assets/icons/github.svg"/> View Source
      </a>
    </div>
  </div><br>

  <div class="card">
    <img src="../../assets/projects-imgs/burguer-store.webp" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">LanchesMac</h5>
      <p class="card-text">This website is an burguer store where the user can buy burguers. The website contains and home page with
        filters, categories, and a carrousel slide,<br> a product page with all the burguers, a shop cart, checkout, login, register, admin
        area and the website is responsive.</p>
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">ASP.NET MVC</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">HTML</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">Bootstrap</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
      <a href="https://github.com/ruib07/LanchesMac" class="btn btn-light" target="_blank">
        <img src="../assets/icons/github.svg" /> View Source
      </a>
    </div>
  </div><br>

  <div class="card">
    <img src="../../assets/projects-imgs/Tasks.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">TaskShare App</h5>
      <p class="card-text">This mobile app is a task organizer to the user make a list of tasks for the day. You can make a login,
        register, add a task, update a task and delete a task.<br> The app is minimalistic and have a clean design.</p>
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">React Native</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">JS</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">.NET Web API</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
      <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
      <a href="https://github.com/ruib07/TaskShareFrontend" class="btn btn-light" target="_blank">
        <img src="../assets/icons/github.svg" /> View Frontend Source
      </a> |
      <a href="https://github.com/ruib07/TaskShareBackend" class="btn btn-light" target="_blank">
        <img src="../assets/icons/github.svg" /> View Backend Source
      </a>
    </div>
  </div>
</div><br><br><br>
<!-- END OF PROJECTS -->
