.projects-container {
  transform: translateY(20px);
  max-width: 68.75rem;
  margin: auto;
  margin-top: 2.5rem;
  padding: 0 10px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  text-align: center;
}

.projects-header {
  font-weight: bold;
  color: rgba(147,112,219);
  margin-bottom: 20px;
}

.hr-projects {
  display: inline-flex;
  padding: 20px;
  border-top: 5px solid;
}

.card {
  width: 100%;
  max-width: 100%;
  margin: auto;
  flex-direction: row;
  box-shadow: 5px 5px 5px lightgray;
}

.card video {
  border-radius: 5px;
}

.card a img {
  width: 25px;
}

.card img {
  border-radius: 5px;
  width: 47%;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
  color: rgba(147,112,219);
  margin-bottom: 12px;
}

@media only screen and (max-width: 768px) {
  .card img,
  .card video {
    display: none;
  }
}

.card-text {
  font-weight: lighter;
  font-size: 18px;
}
