.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.scroll-to-top button {
  background: linear-gradient(145deg, #3b0070, #14002e);
  border: none;
  border-radius: 7px;
  color: #fff;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .scroll-to-top {
    display: none;
  }
}
