<!-- SKILLS -->
<section [@fadeInUpAnimationSkills] [class.visible]="isVisible" class="skills" id="skills">
  <h2 class="skill-header">My Top Skills</h2>

  <div class="skills-wrapper">
    <div class="skills-icons">
      <img
        src="../assets/icons/html.svg.png"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/icons/css.svg.png"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/icons/js.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>

    <div class="skills-icons">
      <img
        src="../assets/icons/typescript.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/icons/angular.png"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/icons/csharp.svg.png"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>
  </div>
</section><br><br><br>
<!-- END OF SKILLS -->
