.skills {
  transform: translateY(20px);
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  padding: 0 10px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.skill-header {
  color: rgba(147, 112, 219);
  margin-bottom: 1rem;
  font-weight: bold;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-wrapper img {
  padding: 1.25rem;
  width: 150px;
  height: 150px;
}

.skills-icons {
  padding: 1rem;
}

.icon {
  max-width: 100%;
  height: auto;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 5px 5px 5px 5px lightgray;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .skills-icons {
    flex-direction: column;
    align-items: center;
  }

  .icon-card {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}
