.skills {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
  padding: 0 10px;
}

.skill-header {
  color: rgba(116, 127, 224, 0.65);
  margin-bottom: 1rem;
  font-weight: bold;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-wrapper img {
  padding: 1.25rem;
  width:150px;
  height:150px;
}

.skills-icons {
  padding: 1rem;
}

.icon {
  max-width: 100%;
  height: auto;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 5px 5px 5px lightgray;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
