<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RuiBarretoPortfolio</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="background-color: #fff!important;">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        (click)="centered.toggle()"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-left ms-5">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item-logo">
            <a href="#start">
              <img src="../assets/icons/rb-logo.png">
            </a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-center me-5" id="navbarCenteredExample" mdbCollapse #centered="mdbCollapse">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experienceeducation">Experience & Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-right me-5">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/rui-barreto-814071248/" target="_blank">
            <img src="../assets/icons/linkedin.svg.png">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/ruib07" target="_blank">
            <img src="../assets/icons/github.svg">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br>
  <!-- END OF NAVBAR -->

  <!-- ABOUT ME -->
  <div class="intro-container ms-5" id="start">
    <div class="intro-title">
        > RUI BARRETO<div class="blinking"></div>
    </div>
  </div>

  <div class="resume ms-5">
    <p class="about-me" id="aboutme">I´m a <b>Full-Stack Developer</b> student with a passion for learning new programming languages<br>
      and technologies. Currently, I'm studying Web Development and Multimedia at IPCA.</p>
  </div>
  <!-- END OF ABOUT ME -->

  <!-- EXPERIENCE AND EDUCATION -->
  <!-- EXPERIENCE -->
  <div class="experience-container ms-5" id="experienceeducation">
    <h2 class="experience-header">EXPERIENCE</h2>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Backend Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">jul 2023</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I  learned how to use REST API, .NET Core, .NET Web API and how to<br>
       make a cleaner code with C# to be able to help making the backend for mobile applications.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">.NET Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">set 2022 - oct 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I learned how to use ASP.NET MVC, Entity Framework Core, SQL Server and to write better<br>
        code with C#.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Frontend Developer Intern - Activex, lda.</h5><div class="experience-date me-5">Aug 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">Working on developing websites using Wordpress, HTML and CSS.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EXPERIENCE -->

  <!-- EDUCATION -->
  <div class="education-container ms-5">
    <h2 class="education-header">EDUCATION</h2>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Technical Short Cycle Course, Web Development and Multimedia - IPCA </h5>
      <div class="education-date me-5">oct 2022 - jul 2024</div>
      <p class="education-location">Famalicão, Portugal</p>
      <p class="education-desc">This course was very important for me to develop the necessary skills to become a complete
        Full-Stack Developer,<br>in terms of planning the project and developing the project on both the frontend and backend.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Professional Course, Computer Systems Management and Programming</h5>
      <div class="education-date me-5">sep 2019 - jul 2022</div>
      <p class="education-location">Braga, Portugal</p>
      <p class="education-desc">This course allowed me to develop the skills necessary to work as a software developer or web developer.
         I learned<br>how to plan a project from scratch, design a solid structure for a database and program a project from scratch.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EDUCATION -->
  <!-- END OF EXPERIENCE AND EDUCATION -->

  <!-- SKILLS -->
  <section class="skills" id="skills">
    <h2 class="skill-header">My Top Skills</h2>

    <div class="skills-wrapper">
      <div class="first-set animate__animated animate__pulse">
        <img
          src="../assets/icons/html.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/css.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/js.svg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>

      <div class="second-set animate__animated animate__pulse">
        <img
          src="../assets/icons/typescript.svg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/angular.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/csharp.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>
    </div>
  </section>
  <!-- END OF SKILLS -->
</body>
</html>
