<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RuiBarretoPortfolio</title>
</head>
<body>
  <!-- SHARED NAVBAR -->
  <app-navbar></app-navbar>
  <!-- END OF SHARED NAVBAR -->

  <!-- ABOUT ME -->
  <app-aboutme></app-aboutme>
  <!-- END OF ABOUT ME -->

  <!-- EXPERIENCE AND EDUCATION -->
  <app-experienceeducation></app-experienceeducation>
  <!-- END OF EXPERIENCE AND EDUCATION -->

  <!-- SKILLS -->
  <app-skills></app-skills>
  <!-- END OF SKILLS -->

  <!-- PROJECTS -->
  <app-projects></app-projects>
  <!-- END OF PROJECTS -->

  <!-- CONTACT -->
  <app-contact></app-contact>
  <!-- END OF CONTACT -->

  <!-- FOOTER -->
  <app-footer></app-footer>
  <!-- END OF FOOTER -->
</body>
</html>
