<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RuiBarretoPortfolio</title>
</head>
<body>
  <!-- SHARED NAVBAR -->
  <app-navbar></app-navbar>
  <!-- END OF SHARED NAVBAR -->

  <!-- ABOUT ME -->
  <div class="intro-container ms-5" id="start">
    <div class="intro-title">
        > RUI BARRETO<div class="blinking"></div>
    </div>
  </div>  

  <div class="resume ms-5">
    <p class="about-me">I´m a <b>Full-Stack Developer</b> student with a passion for learning new programming languages<br>
      and technologies. Currently, I'm studying Web Development and Multimedia at IPCA.</p>
  </div>
  <!-- END OF ABOUT ME -->

  <!-- EXPERIENCE AND EDUCATION -->
  <!-- EXPERIENCE -->
  <div class="experience-container ms-5" id="experienceeducation">
    <h2 class="experience-header">EXPERIENCE</h2>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Backend Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">jul 2023</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I  learned how to use REST API, .NET Core, .NET Web API and how to<br>
       make a cleaner code with C# to be able to help making the backend for mobile applications.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">.NET Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">set 2022 - oct 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I learned how to use ASP.NET MVC, Entity Framework Core, SQL Server and to write better<br>
        code with C#.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Frontend Developer Intern - Activex, lda.</h5><div class="experience-date me-5">Aug 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">Working on developing websites using Wordpress, HTML and CSS.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EXPERIENCE -->

  <!-- EDUCATION -->
  <div class="education-container ms-5">
    <h2 class="education-header">EDUCATION</h2>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Technical Short Cycle Course, Web Development and Multimedia - IPCA </h5>
      <div class="education-date me-5">oct 2022 - jul 2024</div>
      <p class="education-location">Famalicão, Portugal</p>
      <p class="education-desc">This course was very important for me to develop the necessary skills to become a complete
        Full-Stack Developer,<br>in terms of planning the project and developing the project on both the frontend and backend.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Professional Course, Computer Systems Management and Programming</h5>
      <div class="education-date me-5">sep 2019 - jul 2022</div>
      <p class="education-location">Braga, Portugal</p>
      <p class="education-desc">This course allowed me to develop the skills necessary to work as a software developer or web developer.
         I learned<br>how to plan a project from scratch, design a solid structure for a database and program a project from scratch.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EDUCATION -->
  <!-- END OF EXPERIENCE AND EDUCATION -->

  <!-- SKILLS -->
  <section class="skills" id="skills">
    <h2 class="skill-header">My Top Skills</h2>

    <div class="skills-wrapper">
      <div class="skills-icons">
        <img
          src="../assets/icons/html.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/css.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/js.svg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>

      <div class="skills-icons">
        <img
          src="../assets/icons/typescript.svg"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/angular.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="../assets/icons/csharp.svg.png"
          alt=""
          loading="lazy"
          class="icon icon-card"
        />
      </div>
    </div>
  </section><br><br><br>
  <!-- END OF SKILLS -->

  <!-- PROJECTS -->
  <div class="projects-container" id="projects">
    <div class="header">
      <h2 class="projects-header">Main Projects</h2><hr class="hr-projects">
    </div>
    <div class="card">
      <img src="..." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">ProEventos</h5>
        <p class="card-text">This website is an event website where the user can make a reservation to an event, cancel is reservation,
        update his reservation, make a login, register<br> and update the personal data. The website is responsive and have a user-friendly design
        with the minimalistic colors and fonts.</p>
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">Angular</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">HTML</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SCSS</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">TS</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">.NET Web API</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
        <a href="https://github.com/ruib07/ProEventos" class="btn btn-light" target="_blank">
          <img src="../assets/icons/github.svg"/> View Source
        </a>
      </div>
    </div><br>

    <div class="card">
      <img src="..." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">LanchesMac</h5>
        <p class="card-text">This website is an burguer store where the user can buy burguers. The website contains and home page with
          filters, categories, and a carrousel slide,<br> a product page with all the burguers, a shop cart, checkout, login, register, admin
          area and the website is responsive.</p>
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">ASP.NET MVC</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">HTML</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">Bootstrap</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
        <a href="https://github.com/ruib07/LanchesMac" class="btn btn-light" target="_blank">
          <img src="../assets/icons/github.svg" /> View Source
        </a>
      </div>
    </div><br>

    <div class="card">
      <img src="..." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">TaskShare App</h5>
        <p class="card-text">This mobile app is a task organizer to the user make a list of tasks for the day. You can make a login,
          register, add a task, update a task and delete a task.<br> The app is minimalistic and have a clean design.</p>
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">React Native</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">JS</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">C#</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">.NET Web API</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">EF Core</button> |
        <button type="button" class="btn btn-outline-success" style="font-size: 14px;">SQL</button><br><br>
        <a href="https://github.com/ruib07/TaskShareFrontend" class="btn btn-light" target="_blank">
          <img src="../assets/icons/github.svg" /> View Frontend Source
        </a> |
        <a href="https://github.com/ruib07/TaskShareBackend" class="btn btn-light" target="_blank">
          <img src="../assets/icons/github.svg" /> View Backend Source
        </a>
      </div>
    </div>
  </div>
  <!-- END OF PROJECTS -->
</body>
</html>
