.contact-container {
  transform: translateY(20px);
  max-width: 100%;
  margin: auto;
  margin-top: 2rem;
  padding: 0 10px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.contact-header {
  text-align: center;
}

.contact-title {
  font-weight: bold;
  color: rgba(116, 127, 224, 0.65);
  margin-bottom: 20px;
}

.hr-contact {
  display: inline-flex;
  padding: 20px;
  border-top: 5px solid;
  margin-bottom: -10px;
}

.contact-body {
  text-align: center;
}

.contact-links {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.contact-links a {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.contact-links img {
  width: 25px;
  margin-right: 10px;
}

.email-contact a:hover img {
  filter: invert(1);
}

.contact-paragraph {
  font-weight: lighter;
  text-align: center;
  font-size: 22px;
}
