<!-- NAVBAR -->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
  style="background-color: #1a0b2e !important"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="centered.toggle()"
      aria-controls="navbarCentered"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse justify-content-left ms-5">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item-logo">
          <a href="#start">
            <img src="../assets/icons/logo.png" />
          </a>
        </li>
      </ul>
    </div>

    <div
      class="collapse navbar-collapse me-5"
      id="navbarCentered"
      mdbCollapse
      #centered="mdbCollapse"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#start">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br />
<!-- END OF NAVBAR -->
