<!-- EXPERIENCE AND EDUCATION -->
<!-- EXPERIENCE -->
<div
  [@fadeInUpAnimationExperienceEducation]
  [class.visible]="isVisible"
  class="experience-container ms-5"
  id="experienceeducation"
>
  <h2 class="experience-header">EXPERIENCE</h2>
  <hr class="hr-spacing me-5" />
  <div class="experience">
    <h5 class="experience-title">Technical Consultant - Cegid Primavera</h5>
    <div class="experience-date me-5">sep 2024 - present</div>
    <p class="experience-location">Braga, Portugal | Hybrid</p>
    <p class="experience-desc"></p>
  </div>
  <hr class="hr-spacing me-5" />
  <div class="experience">
    <h5 class="experience-title">
      Technical Consultant Trainee - Cegid Primavera
    </h5>
    <div class="experience-date me-5">feb 2024 - jul 2024</div>
    <p class="experience-location">Braga, Portugal | Hybrid</p>
    <p class="experience-desc">
      The objective of my internship was to develop an integration between 2
      softwares.<br />
      I developed robust functionalities that enable comprehensive employee
      management across both software platforms. <br />Additionally, I
      implemented an initial feature to efficiently oversee employee training
      programs. I also conducted thorough<br />
      end-to-end testing to ensure the reliability and effectiveness of the
      functionalities I developed.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
  <div class="experience">
    <h5 class="experience-title">Backend Developer Trainee - Activex, lda.</h5>
    <div class="experience-date me-5">jul 2023</div>
    <p class="experience-location">Braga, Portugal | On-site</p>
    <p class="experience-desc">
      I learned how to use effectively .NET Web API with Swagger, to make a
      clean code with C#, to create, update,<br />
      delete and making queries to consult tables with SQL Server and learned
      the best practices to build good API´s.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
  <div class="experience">
    <h5 class="experience-title">.NET Developer Trainee - Activex, lda.</h5>
    <div class="experience-date me-5">set 2022 - nov 2022</div>
    <p class="experience-location">Braga, Portugal | Remote</p>
    <p class="experience-desc">
      I made a formation to learn how to make an website using C#, ASP.NET MVC,
      Entity <br />Framework Core and SQL Server.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
  <div class="experience">
    <h5 class="experience-title">Frontend Developer Intern - Activex, lda.</h5>
    <div class="experience-date me-5">Aug 2022</div>
    <p class="experience-location">Braga, Portugal | On-site</p>
    <p class="experience-desc">
      This intership I develop the frontend for the websites for the clients
      using<br />Wordpress, HTML, CSS and JavaScript.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
</div>
<!-- END OF EXPERIENCE -->

<!-- EDUCATION -->
<div
  [@fadeInUpAnimationExperienceEducation]
  *ngIf="isVisible"
  class="education-container ms-5"
>
  <h2 class="education-header">EDUCATION</h2>
  <hr class="hr-spacing me-5" />
  <div class="education">
    <h5 class="education-title">
      Technical Short Cycle Course, Web Development and Multimedia - IPCA
    </h5>
    <div class="education-date me-5">oct 2022 - jul 2024</div>
    <p class="education-location">Famalicão, Portugal</p>
    <p class="education-desc">
      This course was very important for me to develop the necessary skills to
      become a complete Full-Stack Developer,<br />in terms of planning the
      project and developing the project on both the frontend and backend.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
  <div class="education">
    <h5 class="education-title">
      Professional Course, Computer Systems Management and Programming
    </h5>
    <div class="education-date me-5">sep 2019 - jul 2022</div>
    <p class="education-location">Braga, Portugal</p>
    <p class="education-desc">
      This course allowed me to develop the skills necessary to work as a
      software developer or web developer. I learned<br />how to plan a project
      from scratch, design a solid structure for a database and program a
      project from scratch.
    </p>
  </div>
  <hr class="hr-spacing me-5" />
</div>
<!-- END OF EDUCATION -->
<!-- END OF EXPERIENCE AND EDUCATION -->
