.experience-container {
  margin-top: -80px;
  padding: 80px;
  margin-left: 20px;
}

.experience-header {
  color: rgba(116,127,224,.65);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.experience {
  margin-bottom: 20px;
}

.experience-title {
  color: rgba(116,127,224,.65);
  font-size: 18px;
  font-weight: bold;
}

.experience-date {
  color: rgba(116,127,224,.65);
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.experience-location {
  font-size: 16px;
  margin-top: 5px;
}

.experience-desc {
  font-size: 16px;
  margin-top: 5px;
}

.education-container {
  margin-top: -90px;
  padding: 80px;
  margin-left: 20px;
}

.education-header {
  color: rgba(116,127,224,.65);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.education {
  margin-bottom: 20px;
}

.education-title {
  color: rgba(116,127,224,.65);
  font-size: 18px;
  font-weight: bold;
}

.education-date {
  color: rgba(116,127,224,.65);
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.education-location {
  font-size: 16px;
  margin-top: 5px;
}

.education-desc {
  font-size: 16px;
  margin-top: 5px;
}
