.work-experience {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: linear-gradient(145deg, #3b0070, #14002e);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 550px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon-container {
  margin-right: 10px;
}

.icon-container img {
  width: 50px;
}

h2 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 15px;
}

p {
  font-size: 1rem;
  color: #dcdcdc;
  margin-bottom: 20px;
}

.learn-more {
  background-color: transparent;
  border: 2px solid #a78af9;
  color: #a78af9;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.learn-more:hover {
  background-color: #a78af9;
  color: #fff;
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}