<!-- EXPERIENCE AND EDUCATION -->
  <!-- EXPERIENCE -->
  <div [@fadeInUpAnimation] *ngIf="isVisible" class="experience-container ms-5" id="experienceeducation">
    <h2 class="experience-header">EXPERIENCE</h2>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Backend Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">jul 2023</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I  learned how to use REST API, .NET Core, .NET Web API and how to<br>
       make a cleaner code with C# to be able to help making the backend for mobile applications.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">.NET Developer Trainee - Activex, lda.</h5><div class="experience-date me-5">set 2022 - oct 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">I learned how to use ASP.NET MVC, Entity Framework Core, SQL Server and to write better<br>
        code with C#.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="experience">
      <h5 class="experience-title">Frontend Developer Intern - Activex, lda.</h5><div class="experience-date me-5">Aug 2022</div>
      <p class="experience-location">Braga, Portugal</p>
      <p class="experience-desc">Working on developing websites using Wordpress, HTML and CSS.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EXPERIENCE -->

  <!-- EDUCATION -->
  <div [@fadeInUpAnimation] *ngIf="isVisible" class="education-container ms-5">
    <h2 class="education-header">EDUCATION</h2>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Technical Short Cycle Course, Web Development and Multimedia - IPCA </h5>
      <div class="education-date me-5">oct 2022 - jul 2024</div>
      <p class="education-location">Famalicão, Portugal</p>
      <p class="education-desc">This course was very important for me to develop the necessary skills to become a complete
        Full-Stack Developer,<br>in terms of planning the project and developing the project on both the frontend and backend.</p>
    </div>
    <hr class="hr-spacing me-5">
    <div class="education">
      <h5 class="education-title">Professional Course, Computer Systems Management and Programming</h5>
      <div class="education-date me-5">sep 2019 - jul 2022</div>
      <p class="education-location">Braga, Portugal</p>
      <p class="education-desc">This course allowed me to develop the skills necessary to work as a software developer or web developer.
         I learned<br>how to plan a project from scratch, design a solid structure for a database and program a project from scratch.</p>
    </div>
    <hr class="hr-spacing me-5">
  </div>
  <!-- END OF EDUCATION -->
  <!-- END OF EXPERIENCE AND EDUCATION -->
