.experience-container,
.education-container {
  padding: 20px;
}

.experience-header,
.education-header {
  color: rgba(116,127,224,.65);
  font-weight: bold;
  margin-bottom: 10px;
}

.experience,
.education {
  margin-bottom: 30px;
}

.experience-title,
.education-title {
  color: rgba(116,127,224,.65);
  font-size: 16px;
  font-weight: bold;
}

.experience-date,
.education-date {
  color: rgba(116,127,224,.65);
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.experience-location,
.education-location {
  font-size: 14px;
  margin-top: 5px;
}

.experience-desc,
.education-desc {
  font-size: 14px;
  margin-top: 5px;
}
