<!-- EXPERIENCE -->

<div class="work-experience" id="experience">
  <h1>Work Experience</h1>
  <div class="card-container">
    <!--
    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/Job1.png" alt="Icon 1" />
        </div>
        <h2>Technical Consultant</h2>
      </div>
      <p>Continuing developing an integration between 2 softwares.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            'Technical Consultant - Cegid Primavera',
            'Continuing developing an integration between 2 softwares.'
          )
        "
      >
        Learn More
      </button>
    </div>
    -->

    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/Job2.png" alt="Icon 2" />
        </div>
        <h2>Technical Consultant Trainee</h2>
      </div>
      <p>Developing an integration between 2 softwares.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            'Technical Consultant Trainee - Cegid Primavera',
            'The objective of my internship was to develop an integration between 2 softwares. I developed robust functionalities that enable comprehensive employee management across both software platforms. Additionally, I implemented an initial feature to efficiently oversee employee training programs. I also conducted thorough end-to-end testing to ensure the reliability and effectiveness of the functionalities I developed.'
          )
        "
      >
        Learn More
      </button>
    </div>

    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/Job3.png" alt="Icon 3" />
        </div>
        <h2>Backend Developer Trainee</h2>
      </div>
      <p>Learned how to make good API´s with .NET Web API.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            'Backend Developer Trainee - Activex',
            'I learned how to use effectively .NET Web API with Swagger, to make a clean code with C#, to create, update, delete and making queries to consult tables with SQL Server and learned the best practices to build good API´s.'
          )
        "
      >
        Learn More
      </button>
    </div>

    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/Job4.png" alt="Icon 4" />
        </div>
        <h2>.NET Developer Trainee</h2>
      </div>
      <p>Learining how to make web applications with ASP.NET MVC.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            '.NET Developer Trainee - Activex',
            'I made a formation to learn how to make an website using C#, ASP.NET MVC, Entity Framework Core and SQL Server.'
          )
        "
      >
        Learn More
      </button>
    </div>

    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/website.png" alt="Icon 4" />
        </div>
        <h2>Frontend Developer</h2>
      </div>
      <p>Develop the frontend for websites to company clients.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            'Frontend Developer - Activex',
            'This intership I develop the frontend for the websites for the clients using Wordpress, HTML, CSS and JavaScript.'
          )
        "
      >
        Learn More
      </button>
    </div>

    <div class="card">
      <div class="icon-text">
        <div class="icon-container">
          <img src="assets/WorkIcons/hardware.png" alt="Icon 4" />
        </div>
        <h2>IT Technician</h2>
      </div>
      <p>Responsible to help the team to resolve hardware problems.</p>
      <button
        class="learn-more"
        (click)="
          openModal(
            'IT Technician - Município de Braga',
            'In this internship I worked in the hardware area. I helped with troubleshooting employee computers, assembling computers, installing operating systems and software on new computers and changing equipment.'
          )
        "
      >
        Learn More
      </button>
    </div>
  </div>
</div>

<!-- END OF EXPERIENCE -->
