.intro-container {
  transform: translateY(20px);
  text-align: center;
  padding: 20px;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.intro-title {
  font-size: 30px;
  color: rgba(116,127,224,.65);
}

.blinking {
  width: 10px;
  height: 30px;
  background-color: rgba(116,127,224,.65);
  -webkit-animation: blinking 1s infinite;
  animation: blinking 1s infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes blinking {
  0% {
      background-color: transparent;
  }
  49% {
      background-color: transparent
  }
  50% {
      background-color: rgba(116,127,224,.65);
  }
}

.resume {
  padding: 20px;
}

.about-me {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.about-me b {
  color: rgba(116,127,224,.65);
}
