<!-- ABOUT ME -->
<div class="intro-container ms-5" id="start">
  <div class="intro-title">
    > Hi, I´m <b>RUI BARRETO</b>
    <div class="blinking"></div>
  </div>
</div>
<br />
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">About Me</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p class="about-me">
      I´m a <b>Full-Stack Developer</b> student with a passion for learning new
      programming languages and technologies. <br />Currently, I´m making an
      intership at Cegid Primavera as a <b>Technical Consultant Trainee</b> and
      studying Web Development at IPCA. <br />I thrive on keeping up with the
      latest trends in the programming market, as it is essential to constantly
      learn new tools and technologies, especially in this rapidly evolving
      field.<br />My ultimate goal is to become a Software Engineer and to work
      in a company that fosters a happy environment where I can grow both
      professionally and personally.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
<div
  [@fadeInUpAnimationAboutMe]
  [class.visible]="isVisible"
  class="resume ms-5"
>
  <button
    class="btn btn-outline-dark mb-2 me-2"
    (click)="openVerticallyCentered(content)"
  >
    About Me
  </button>
</div>
<!-- END OF ABOUT ME -->
