<!-- ABOUT ME -->

<div class="intro-section" id="start">
  <div class="hello-arrow">
    <p class="hello-text">
      Hello! I’m <span class="highlight-name">Rui Barreto</span>
    </p>
    <div class="arrow"></div>
  </div>
  <div class="avatar-description">
    <div class="avatar-container">
      <img
        src="assets/icons/avatar.png"
        alt="Avatar with Laptop"
        class="avatar"
      />
    </div>
    <div class="intro-text">
      <p class="description">
        A passionate Developer who <br />
        <span class="highlight-judges"
          >turns ideas into code, one line at a time.</span
        >
      </p>
    </div>
  </div>
  <br /><br />
  <div class="small-description">
    <h1 style="text-align: center">
      Currently a <span class="highlight-job">Technology Consultant</span>
    </h1>
    <p class="bio">
      As a dedicated Technology Consultant, I am driven by a relentless
      curiosity for new programming languages and technologies. I am committed
      to staying ahead of industry trends, continuously learning, and mastering
      emerging tools to solve complex problems and drive innovation.
    </p>
  </div>
</div>

<!-- END OF ABOUT ME -->
